@import url('./fonts.css');

.hp-wrapper {
  max-width: 900px;
  margin: 0 auto 6rem;
  padding: 2rem 1.5rem;
  font-family: 'Montserrat', serif;
  color: #eaeaea;
}

.hp-sidebar {
  position: sticky;
  top: 6rem;
  margin-bottom: 2rem;
}

.hp-sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.hp-sidebar li {
  margin-bottom: 1.5rem;
}

.hp-sidebar a {
  text-decoration: none;
  color: #ccc;
  font-weight: 500;
  display: block;
  padding-left: 0.5rem;
  transition: color 0.3s;
}

.hp-sidebar a:hover {
  color: #6bcdfd;
}

.hp-section-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.hp-section-item {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 16px;
  box-shadow:
    0 10px 22px rgba(0, 0, 0, 0.4),
    inset 0 0 12px rgba(107, 205, 253, 0.2);
  overflow: hidden;
  padding: 2rem;
}

.education-intro-title {
  font-weight: 900;
  font-size: 3rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 2rem;
  background: linear-gradient(90deg, #d178f2, #6bcdfd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-bottom: 4px solid #6bcdfd;
  padding-bottom: 0.5rem;
}

.hp-section-item p {
  line-height: 1.8;
  font-size: 1.15rem;
}


a {
  color: #6bcdfd;
  text-decoration: none;
}

.project-image-small {
  max-width: 900px;
  height: auto;
  border-radius: 12px;
  margin-top: 0.5rem;
}

